# Exclude the following files when we build webtrees

.coveralls.yml export-ignore
.gitattributes export-ignore
.gitignore     export-ignore
.travis.yml    export-ignore
Makefile       export-ignore
Vagrantfile    export-ignore
*.psd			export-ignore

build/         export-ignore
js/*.patch     export-ignore
phpdoc.xml     export-ignore
phpunit.xml*    export-ignore
tests/         export-ignore

RoboFile.php	export-ignore

themes/rural/less/          export-ignore
themes/rural/css-*/images/*.psd    export-ignore
language/*.po	export-ignore