
robots.txt

# /
/.buildpath
/.project
/.settings
/svn*
/test*.php

# /modules_v3/
/modules_v3/myartjaub_translationtool

# Build files
/build
/Makefile

# Language folder
/language/*.po
/language/extra
/language/.gitattributes
/language/.gitignore
/language/updateLanguages.bat

# Utilities configuration files
/phpunit.xml
/phpdoc.xml
/pdepend.xml
