parameters:
   level: max
   paths:
      - RoboFile.php
      - modules_v4/myartjaub_admintasks
      - modules_v4/myartjaub_certificates
      - modules_v4/myartjaub_geodispersion
      - modules_v4/myartjaub_hooks
      - modules_v4/myartjaub_issourced
      - modules_v4/myartjaub_misc
      - modules_v4/myartjaub_patronymiclineage
      - modules_v4/myartjaub_sosa
      - modules_v4/myartjaub_welcome_block
   fileExtensions:
      - php
      - phtml
   checkExplicitMixed: false
   checkMissingIterableValueType: false
   ignoreErrors:
      -
         message: '#^Variable .* might not be defined.$#'
         path: modules_v4/myartjaub_*/**.phtml
      - '#^Short ternary operator is not allowed. Use null coalesce operator if applicable or consider using long ternary.$#'
      - '#^Call to an undefined method Robo\\Collection\\CollectionBuilder.*$#'
      - '#^Call to an undefined method Robo\\Task\\.*::progressMessage\(\)\.$#'