includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        - modules_v4/myartjaub_admintasks
        - modules_v4/myartjaub_patronymiclineage
        - modules_v4/myartjaub_welcome_block