parameters:
   level: max
   paths:
      - RoboFile.php
      - modules_v4/myartjaub_admintasks
      - modules_v4/myartjaub_certificates
      - modules_v4/myartjaub_geodispersion
      - modules_v4/myartjaub_hooks
      - modules_v4/myartjaub_issourced
      - modules_v4/myartjaub_misc
      - modules_v4/myartjaub_patronymiclineage
      - modules_v4/myartjaub_sosa
      - modules_v4/myartjaub_welcome_block
   ignoreErrors:
      - '#^Call to an undefined method Robo\\Collection\\CollectionBuilder.*$#'
      - '#^Call to an undefined method Robo\\Task\\.*::progressMessage\(\)\.$#'