# Do not ignore the myartjaub modules
!/myartjaub_*

# Ignore modules already in their own repositories
/myartjaub_geodata_france
/myartjaub_lhg
/myartjaub_ruraltheme
/myartjaub_translationtool

# And of course itself
!.gitignore