name: Code style PHP

on:
   push:
      branches-ignore:
         - '**-dev'
   pull_request:

jobs:
  run:
    if: ${{ !startsWith(github.event.head_commit.message, 'Translation:') }}
    runs-on: ${{ matrix.operating-system }}
    name: PHP/PHTML

    strategy:
      matrix:
        operating-system: ['ubuntu-latest']
        php-version: ['8.0']

    steps:
      - uses: actions/checkout@v2

      - run: composer validate

      - run: composer global require squizlabs/php_codesniffer

      - name: PHP
        run: ~/.composer/vendor/bin/phpcs -s

